@charset "utf-8";
/*
    keryi_barter卡片容器样式
*/
.keryi_barter_card {
    position: relative;
    width: calc(100% - 83px);
    left: 15px;
    padding-top: 15px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    transition: all .3s ease-in-out 0s;
}

/*
    keryi_barter移入卡片容器样式
*/
.keryi_barter_card:hover {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .14), 0 1px 12px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
}

/*
    keryi_barter卡片副容器样式
*/
.keryi_barter_card > .keryi_barter_card_main {
    min-height: 200px;
}

.keryi_barter_card_main > .keryi_barter_card_header,
.keryi_barter_card_mainContent > .keryi_barter_card_description,
.keryi_barter_card_mainContent > .keryi_barter_card_tag {
    padding: 0 20px;
}

.keryi_barter_card_main > .keryi_barter_card_header {
    font-family: "Microsoft YaHei UI";
    font-size: 13px;
    font-weight: bolder;
    margin: -3px 0 13px;
    height: 20px;
    line-height: 20px;
}

.keryi_barter_card_main > .keryi_barter_card_mainContent {
    width: 100%;
}

.keryi_barter_card_mainContent > .keryi_barter_card_figure {
    width: 100%;
    margin-top: 2px;
}

.keryi_barter_card_mainContent > .keryi_barter_loading_spinAnimation {
    border-bottom: 1px solid #e7e7e7;
    opacity: 1;
    transition: all .5s ease-in-out 0s;
}

.keryi_barter_card_mainContent > .keryi_barter_loading_spinAnimation_disAppear {
    opacity: 0;
}

.keryi_barter_card_figure > .keryi_barter_card_image {
    display: block;
    width: 100%;
    height: auto;
}

.keryi_barter_card_description > .keryi_barter_card_title {
    padding: 15px 0 0 0;
    margin-bottom: 10px;
    line-height: 47px;
}

.keryi_barter_card_description > .keryi_barter_card_title > h1 {
    font-size: 36px;
    font-family: Gibson, Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.keryi_barter_card_description > .keryi_barter_card_paragraph {
    font-size: 14px;
    font-family: Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
    line-height: 21px;
}


