@charset "utf-8";
.keryi_barter_item {
    position: absolute;
    display: inline-block;
    float: left;
    height: 145px;
    opacity: 0;
    top: 4px;
    box-sizing: border-box;
    border-right: 2px solid #fff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    transition: all .5s ease-in-out 0s;
    z-index: 9914;
}

.keryi_barter_item_disappear {
    display: none;
}

.keryi_barter_item_show {
    opacity: 1;
}

.keryi_barter_item > .keryiBarter-close {
    position: relative;
    width: 16px;
    height: 16px;
    line-height: 16px;
    cursor: pointer;
    float: right;
    font-size: 16px;
    color: #fff;
    margin: 3px;
    padding-left: 0.6px;
    background-color: #8f8f8f;
    z-index: 9920;
}

.keryi_barter_item > .keryi_barter_item_hover {
    position: absolute;
    font-family: Gibson, Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif, "Microsoft YaHei UI";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #fff;
    transition: all .4s ease-in-out 0s;
    cursor: pointer;
    z-index: 9915;
}

.keryi_barter_item > .keryi_barter_item_user {
    position: absolute;
    width: 100%;
    left: 2px;
    bottom: -30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.keryi_barter_item_user > .keryi_barter_item_user_avatar {
    width: 25px;
    height: 25px;
}

.keryi_barter_item_user > .keryi_barter_item_user_description {
    position: relative;
    font-family: Gibson, Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif, "Microsoft YaHei UI";
    font-size: 10px;
    font-style: normal;
    font-weight: bolder;
    margin: 0 0 0 4px;
    color: #63A8F0;
    bottom: 3px;
}

.keryi_barter_item_user > i {
    position: relative;
    left: 5px;
    bottom: 2px;
}

.keryi_barter_item_user i.iconfontKeryiBarter {
    font-size: 18px;
    color: #63A8F0;
    cursor: pointer;
}

.keryi_barter_item_user i.keryiBarter-complete {
    color: rgb(123, 187, 94);
}

.keryi_barter_item_user i.keryiBarter-refuse {
    color: #CC0E00;
}

.keryi_barter_item_user .keryi_barter_item_user_select {
    width: 56px;
    position: relative;
    height: 24px;
    left: 5px;
}

.keryi_barter_item_user_select .ant-select-selection {
    border: none;
}

.keryi_barter_item_user_select .ant-select-selection:focus,
.keryi_barter_item_user_select .ant-select-selection:active {
    border: 1px solid #63A8F0;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(16, 142, 233, 0.2);
}

.keryi_barter_item_user_select_dropDown {
    z-index: 9921;
}

.keryi_barter_item_user_select_dropDown i.iconfontKeryiBarter {
    font-size: 18px;
    color: #63A8F0;
}

.keryi_barter_item_user_select_dropDown i.keryiBarter-complete {
    color: rgb(123, 187, 94);
}

.keryi_barter_item_user_select_dropDown i.keryiBarter-refuse {
    color: #CC0E00;
}

.keryi_barter_item > .keryi_barter_item_hover:hover {
    opacity: .86;
}

.keryi_barter_item_hover > .keryi_barter_item_hover_title {
    padding: 6px 8px;
    font-size: 18px;
    font-weight: bolder;
}

.keryi_barter_item_hover > .keryi_barter_item_hover_introduce {
    display: block;
    font-size: 12px;
    font-style: normal;
    padding: 0 6px;
    z-index: 9916;
}

.keryi_barter_item_hover > .keryi_barter_item_hover_uiList {
    position: absolute;
    right: 6px;
    bottom: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    color: #8f8f8f;
}

.keryi_barter_item_hover_uiList > li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 8px 0 0;
}

.keryi_barter_item_hover_uiList > li:last-child {
    margin: 0;
}

.keryi_barter_item_hover_uiList > li > i {
    position: relative;
    font-size: 14px;
}

.keryi_barter_item_hover_uiList > li > i.keryiBarter-priceWorth {
    font-size: 12px;
}

.keryi_barter_item_hover_uiList .keryi_barter_item_hover_description {
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    margin: 0 0 0 4px;
}

.keryi_barter_item::after {
    display: block;
    content: ".";
    visibility: hidden;
    clear: both;
    height: 0;
}