@charset "utf-8";
.keryi_barter_item {
    position: absolute;
    display: inline-block;
    float: left;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    transition: all .5s ease-in-out 0s;
}

.keryi_barter_item_disappear {
    display: none;
}

.keryi_barter_item_show {
    opacity: 1;
}

.keryi_barter_item > .keryiBarter-close {
    width: 16px;
    height: 16px;
    line-height: 16px;
    cursor: pointer;
    float: right;
    font-size: 16px;
    color: #fff;
    margin: 3px;
    padding: 2px;
    background-color: #8f8f8f;
}

.keryi_barter_item::after {
    display: block;
    content: ".";
    visibility: hidden;
    clear: both;
    height: 0;
}