@charset "utf-8";
.keryi_barter_button {
    text-align: center;
    box-sizing: border-box;
}

button {
    padding: 8px 12px;
    cursor: pointer;
    box-shadow: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin-top: 15px;
    font-size: 16px;
    font-family: "Microsoft YaHei UI";
    font-weight: normal;
    color: #000;
    background-color: #fff;
    transition: all .6s ease-in-out 0s;
}

button:hover {
    border: 1px solid #67AFFA;
    color: #67AFFA;
}

.keryi_barter_sm_button > button {
    width: 50px;
}

.keryi_barter_md_button > button {
    width: 100px;
}

.keryi_barter_lg_button > button {
    width: 150px;
}

.keryi_barter_primary_button > button {
    background-color: #67AFFA;
    color: #fff;
    border: 1px solid #67AFFA;
}

button > i {
    font-size: 18px;
    margin-left: 2px;
}

.keryi_barter_primary_button > button:hover {
    border: 1px solid #67AFFA;
    color: #fff;
}

