@charset "utf-8";
.keryi_barter_area {
    position: relative;
    width: 100%;
    display: block;
}

.keryi_barter_area > .keryi_barter_article_area {
    position: relative;
    width: 100%;
    padding: 11px 10px 11px 13px;
    font: 14px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent !important;
    color: #222;
    z-index: 9920;
    word-wrap: break-word;
}

.keryi_barter_article_area[contenteditable=true] {
    font: 14px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
}

.keryi_barter_article_area[contenteditable=true]:empty:before {
    content: attr(data-placeholder);
    color: #a2a2a2;
    cursor: text;
}

.keryi_barter_sm_area > .keryi_barter_article_area {
    font-size: 12px;
}

.keryi_barter_md_area > .keryi_barter_article_area {
    font-size: 14px;
}

.keryi_barter_lg_area > .keryi_barter_article_area {
    font-size: 16px;
}