@charset "utf-8";
.keryi_barter_figureCarousel {
    width: 100%;
    height: 200px;
    display: block;
    margin: 5px 0;
    overflow: hidden;
    opacity: 1;
    transition: all .5s ease-in-out 0s;
}

.keryi_barter_figureCarousel.keryi_barter_figureCarousel_disappear {
    display: none;
}

.keryi_barter_figureCarousel.keryi_barter_figureCarousel_show {
    opacity: 1;
}

.keryi_barter_figureCarousel > .keryi_barter_figureCarousel_figure {
    position: relative;
    width: 100%;
    height: 100%;
}