@charset "utf-8";
.keryi_barter_modal,
.keryi_barter_modal > .keryi_barter_modal_shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 8000;
}

.keryi_barter_modal {
    opacity: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    transition: all 1s ease-in-out 0s;
    background-color: rgba(55, 55, 55, .6);
}

.keryi_barter_modal > .keryi_barter_modal_shadow {
    z-index: 9000;
}

.keryi_barter_modal.keryi_barter_modalDisAppear {
    opacity: 0;
    transition: all 1s ease-in-out 0s;
}

.keryi_barter_modal.keryi_barter_modalNone {
    display: none;
}

.keryi_barter_modal > .keryi_barter_modal_main {
    position: relative;
    height: auto;
    min-height: 200px;
    top: 100px;
    border-radius: 4px;
    background-color: #f4f4f4;
    z-index: 9900;
}

.keryi_barter_modal_main > .keryi_barter_modal_article {
    width: 730px;
    margin: 0 auto;
    padding: 40px 0;
}

.keryi_barter_modal_article > .keryi_barter_modal_head {
    position: relative;
    min-height: 48px;
}

.keryi_barter_modal_head > .keryi_barter_modal_avatarContainer {
    position: relative;
    width: 48px;
    height: 48px;
}

.keryi_barter_modal_avatarContainer > .keryi_barter_modal_avatarShadow {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #8f8f8f;
    z-index: 9901;
}

.keryi_barter_modal_avatarContainer > .keryi_barter_modal_avatar {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 9910;
}