@charset "utf-8";
.keryi_barter_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 9999;
    opacity: 1;
    transition: all 1s ease-in-out 0s;
    background-color: rgba(55, 55, 55, .6);
}

.keryi_barter_modal.keryi_barter_modalDisAppear {
    opacity: 0;
    transition: all 1s ease-in-out 0s;
}

.keryi_barter_modal.keryi_barter_modalNone {
    display: none;
}