@charset "utf-8";
.keryi_barter_modal,
.keryi_barter_modal > .keryi_barter_modal_shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 8000;
}

.keryi_barter_modal {
    opacity: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out 0s;
    background-color: rgba(41, 70, 101, .90);
}

.keryi_barter_modal > .keryi_barter_modal_shadow {
    z-index: 9000;
}

.keryi_barter_modal.keryi_barter_modalDisAppear {
    opacity: 0;
    transition: all 1s ease-in-out 0s;
}

.keryi_barter_modal.keryi_barter_modalNone {
    display: none;
}

.keryi_barter_modal > .keryi_barter_modalContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.keryi_barter_modalContainer > .keryi_barter_modal_avatarContainer {
    position: relative;
    width: 64px;
    height: 64px;
}

.keryi_barter_modal_avatarContainer > .keryi_barter_modal_avatarShadow {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #8f8f8f;
    z-index: 9901;
}

.keryi_barter_modal_avatarContainer > .keryi_barter_modal_avatar {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 9910;
}

.keryi_barter_modalContainer > .keryi_barter_modal_main {
    position: relative;
    height: auto;
    margin-left: 15px;
    min-height: 200px;
    border-radius: 4px;
    background-color: #f4f4f4;
    z-index: 9900;
}

.keryi_barter_modal_article > .keryi_barter_modal_head {
    position: relative;
    width: 100%;
    padding: 10px 15px 10px 20px;
    box-sizing: border-box;
    color: #8f8f8f;
}

.keryi_barter_modal_head:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}

.keryi_barter_modal_head > .keryi_barter_modal_head_title {
    float: left;
    font-family: "Microsoft YaHei UI";
    font-size: 13px;
    font-weight: bolder;
    color: #444;
}

.keryi_barter_modal_head > .keryiBarter-close {
    float: right;
    font-size: 18px;
    cursor: pointer;
}