/**
 * author yinwk
 * createTime 2017/9/26 16:50
 * description clown laugh at you~
 */
.keryi_barter_loading_container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9990;
    opacity: 1;
    transition: all 1s ease-in-out 0s;
}

.keryi_barter_loading_container.keryi_barter_loading_container_disappear {
    opacity: 0;
}

.keryi_barter_loading_container.keryi_barter_loading_container_none {
    display: none;
}

.keryi_barter_loading_container > .keryi_barter_loading_shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9991;
    opacity: .7;
    background-color: #fff;
    filter: blur(5px);
}

.keryi_barter_loading_container > .keryi_barter_loading_main_holder {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    z-index: 9992;
}

.keryi_barter_loading_main_holder > .keryi_barter_loading_loadingAnimation {
    animation: keryi_barter_rotateKeryi 2.4s ease-in-out infinite;
}

.keryi_barter_loading_loadingAnimation > .keryi_barter_loading_loadingAnimation_title {
    position: relative;
    top: 1px;
    right: 8px;
    color: #63A8F0;
    font-weight: bolder;
    font-family: "Microsoft JhengHei UI", "Microsoft YaHei UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.keryi_barter_loading_loadingAnimation > .keryiBarter-keryiLogo {
    color: #63A8F0;
    font-size: 52px;
}

.keryi_barter_loading_main_holder > .keryi_barter_loading_description {
    margin-top: 15px;
    font-style: normal;
    font-size: 16px;
    font-family: "Microsoft YaHei UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #63A8F0;
}