@charset "utf-8";
.keryi_barter_button {
    text-align: center;
    display: inline-block;
}

.keryi_barter_button > button {
    padding: 8px 15px;
    cursor: pointer;
    box-shadow: none;
    border-radius: 4px;
    margin-top: 15px;
    font-family: "Microsoft YaHei UI";
    font-weight: normal;
    box-sizing: border-box;
    outline: none;
    transition: all .6s ease-in-out 0s;
}

.keryi_barter_sm_button > button {
    font-size: 12px;
}

.keryi_barter_md_button > button {
    font-size: 14px;
}

.keryi_barter_lg_button > button {
    font-size: 16px;
}

.keryi_barter_default_button > button {
    background-color: #fff;
    color: #000;
    border: 1px solid #d9d9d9;
}

.keryi_barter_primary_button > button {
    background-color: #63A8F0;
    color: #fff;
    border: 1px solid #63A8F0;
}

.keryi_barter_info_button > button {
    background-color: #FFF;
    color: #63A8F0;
    border: 1px solid #63A8F0;
}

button > i {
    font-size: 18px;
    margin-left: 2px;
}

.keryi_barter_default_button > button:hover {
    border: 1px solid #63A8F0;
    color: #63A8F0;
}

.keryi_barter_primary_button > button:hover {
    border: 1px solid #63A8F0;
    color: #fff;
}

.keryi_barter_info_button > button:hover {
    background: #63A8F0;
    color: #fff;
    border: 1px solid #63A8F0;
}

