/*
    keryi_barter页面背景色
 */
body {
    overflow: auto;
}

/*
    keryi_barter页面副容器下的阴影遮罩
*/
.keryi_barter_index_page_container > .keryi_barter_shadow {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: radial-gradient(circle at -8% -8%, rgb(99, 268, 240), rgb(41, 70, 101));
}

/*
    keryi_barter页面副容器下的头部样式
*/
.keryi_barter_index_page_container > .keryi_barter_head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 960px;
    height: 66px;
    line-height: 66px;
    border: 1px solid rgba(255, 255, 255, .3);
    background: radial-gradient(circle at -8% -8%, rgb(99, 268, 240), rgb(47, 90, 116));
    z-index: 2500;
}

/*
     keryi_barter页面导航样式
*/
.keryi_barter_head > .keryi_barter_nav {
    width: 80%;
    height: inherit;
    margin: 0 auto;
}

/*
    keryi_barter页面导航
*/
.keryi_barter_head > .keryi_barter_nav:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

/*
    keryi_barter页面logo容器样式
*/
.keryi_barter_nav > .keryi_barter_logo {
    float: left;
    height: inherit;
    color: #fff;
}

/*
    keryi_barter页面导航容器样式
*/
.keryi_barter_nav > .keryi_barter_nav_container {
    float: right;
    height: inherit;
}

/*
    keryi_barter页面logo样式
 */
.keryi_barter_logo > .keryiBarter-keryiLogo {
    font-size: 45px;
    text-shadow: 1px 1px rgba(0, 0, 0, .5);
}

/*
    keryi_barter页面logo标题样式
*/
.keryi_barter_logo > .keryi_barter_logo_title {
    position: relative;
    top: 1px;
    right: 4px;
    font-family: "Microsoft JhengHei UI";
    font-weight: bolder;
    font-size: 15px;
    text-shadow: 1px 1px rgba(0, 0, 0, .3);
}

/*
    keryi_barter页面子导航样式
*/
.keryi_barter_nav_container > .keryi_barter_navItem {
    float: left;
    height: inherit;
    margin-right: 16px;
    outline: none;
}

/*
    keryi_barter页面子导航icon样式
*/
.keryi_barter_navItem .iconfontKeryiBarter {
    font-size: 24px;
    color: #fff;
    opacity: .5;
}

/*
    keryi_barter页面添加barter列表按钮样式
*/
.keryi_barter_navItem .keryiBarter-addBarter {
    position: relative;
    top: 1px;
    right: 1px;
    opacity: 1;
}

.keryi_barter_navItem .keryi_barter_button_addBarter {
    position: relative;
    bottom: 1px;
    padding: 4px 12px;
}

/*
    keryi_barter页面选中的子导航路由icon样式
*/
.keryi_barter_navActiveItem .iconfontKeryiBarter {
    opacity: 1;
}

/*
    keryi_barter主页面主要内容barterList列表
*/
.keryi_barter_index_page_container > .keryi_barter_main {
    position: relative;
    top: 104px;
    z-index: 1500;
}

.keryi_barter_modal_innerMain {
    max-height: 650px;
    overflow: auto;
}

.keryi_barter_modal_mainContainer > .keryi_barter_modal_areaMain {
    position: relative;
}

.keryi_barter_modal_mainContainer .keryi_barter_modal_area_title,
.keryi_barter_modal_mainContainer .keryi_barter_modal_area_description,
.keryi_barter_modal_mainContainer .keryi_barter_modal_area_sourceTag,
.keryi_barter_modal_mainContainer .keryi_barter_modal_area_targetSourceTag,
.keryi_barter_modal_mainContainer .keryi_barter_modal_area_priceWorth {
    width: 100%;
    font-family: Gibson, Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 36px;
    min-height: 47px;
    line-height: 47px;
    word-wrap: break-word;
    padding: 0;
    background-color: #fff;
    color: #444;
}

.keryi_barter_modal_mainContainer .keryi_barter_modal_area_title_placeholder {
    font-size: 36px;
    line-height: 47px;
}

.keryi_barter_modal_mainContainer .keryi_barter_modal_area_description {
    min-height: 80px;
    line-height: 21px;
    font-family: Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
}

.keryi_barter_modal_mainContainer .keryi_barter_modal_area_description_placeholder {
    font-size: 14px;
    line-height: 21px;
}

.keryi_barter_modal_mainContainer .keryi_barter_modal_area_sourceTag,
.keryi_barter_modal_mainContainer .keryi_barter_modal_area_targetSourceTag,
.keryi_barter_modal_mainContainer .keryi_barter_modal_area_priceWorth {
    min-height: 30px;
    line-height: 15px;
    font-family: Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 13px;
    padding: 5px 0 10px 0;
    margin-top: 5px;
}

.keryi_barter_modal_mainContainer .keryi_barter_modal_area_priceWorth {
    min-height: 35px;
    padding: 0 15px 0 20px;
}

.keryi_barter_modal_mainContainer .keryi_barter_modal_area_sourceTag_placeholder,
.keryi_barter_modal_mainContainer .keryi_barter_modal_area_targetSourceTag_placeholder {
    font-size: 13px;
    line-height: 15px;
    padding-top: 5px;
}

.keryi_barter_modal_mainContainer > .keryi_barter_modal_functionIcons {
    display: block;
    color: #a2a2a2;
}

.keryi_barter_modal_mainContainer > .keryi_barter_modal_functionIconsShow {
    padding: 0 15px 0 20px;
    opacity: 1;
}

.keryi_barter_modal_mainContainer > .keryi_barter_modal_functionIcons:after {
    content: ".";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
}

.keryi_barter_modal_functionIcons .keryi_barter_modal_upload li {
    float: right;
    height: 24px;
}

.keryi_barter_modal_functionIcons .keryi_barter_modal_upload li > i {
    font-size: 24px;
    cursor: pointer;
}

.keryi_barter_modal_mainContainer > .keryi_barter_modal_tagArea,
.keryi_barter_modal_mainContainer > .keryi_barter_modal_targetTagArea {
    display: block;
    padding: 0 15px 0 20px;
}

.keryi_barter_modal_mainContainer > .keryi_barter_modal_tagAreaNone,
.keryi_barter_modal_mainContainer > .keryi_barter_modal_targetTagAreaNone {
    display: none;
}

.keryi_barter_modal_mainContainer > .keryi_barter_modal_tagAreaShow,
.keryi_barter_modal_mainContainer > .keryi_barter_modal_targetTagAreaShow {
    opacity: 1;
}

.keryi_barter_modal_mainContainer > .keryi_barter_modal_tagArea:after,
.keryi_barter_modal_mainContainer > .keryi_barter_modal_targetTagArea:after {
    content: ".";
    clear: both;
    visibility: hidden;
    display: block;
    height: 0;
}

.keryi_barter_modal_tagArea > .keryi_barter_modal_tagAreaLi,
.keryi_barter_modal_targetTagArea > .keryi_barter_modal_targetTagAreaLi {
    position: relative;
    display: inline-block;
    float: left;
}

.keryi_barter_modal_tagArea .keryi_barter_modal_tagArea_tag > a,
.keryi_barter_modal_targetTagArea .keryi_barter_modal_targetTagArea_tag > a {
    padding: 4px 12px;
}

.keryi_barter_modal_tagArea > .keryi_barter_modal_tagAreaLi i,
.keryi_barter_modal_targetTagArea > .keryi_barter_modal_targetTagAreaLi i {
    font-size: 10px;
    top: 0;
    right: 11px;
}

.keryi_barter_modal_mainContainer .keryi_barter_modal_area_priceWorth::placeholder {
    color: #a2a2a2;
}



