@charset "utf-8";
/*
    keryi_barter主页面主要内容副级容器样式
*/
.keryi_barter_main > .keryi_barter_main_container {
    width: 60%;
    min-width: 645px;
    margin: 0 auto;
}

/*
    keryi_barter主页面左右主要内容模块样式
*/
.keryi_barter_main_container > .keryi_barter_main_module {
    display: inline-block;
}

/*
    keryi_barter主页面主要内容barter列表容器样式
*/
.keryi_barter_main_container > .keryi_barter_main_barterList {
    width: 625px;
}

/*
    keryi_barter主页面主要内容barter列表副级容器样式
*/
.keryi_barter_main_barterList > .keryi_barter_cardInfo {
    width: 100%;
    margin: 0 0 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

/*
    keryi_barter主页面主要内容barter列表头像容器样式
*/
.keryi_barter_cardInfo > .keryi_barter_head_portrait {
    width: 68px;
    height: 68px;
}

/*
    keryi_barter主页面主要内容barter列表主容器样式
*/
.keryi_barter_cardInfo > .keryi_barter_card_container {
    position: relative;
    width: calc(100% - 83px);
    left: 15px;
}

/*
    keryi_barter主页面主要内容边栏容器样式
*/
.keryi_barter_main_container > .keryi_barter_main_aside {
    width: calc(100% - 625px);
}

.keryi_barter_modalContainer > .keryi_barter_modal_view_details_container {
    background-color: rgb(244, 244, 244);
}

.keryi_barter_modal_view_details_container .keryi_barter_view_details_head {
    padding: 0 15px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.keryi_barter_view_details_head > .keryi_barter_view_details_head_portrait {
    position: relative;
    width: 64px;
    height: 64px;
}

.keryi_barter_view_details_head > .keryi_barter_view_details_userName {
    font-style: normal;
    font-size: 20px;
    font-family: Gibson, Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
    margin-top: 8px;
}


