@charset "utf-8";
/*
    keryi_barter主页面主要内容副级容器样式
*/
.keryi_barter_main > .keryi_barter_main_container {
    width: 60%;
    min-width: 645px;
    margin: 0 auto;
}

/*
    keryi_barter主页面左右主要内容模块样式
*/
.keryi_barter_main_container > .keryi_barter_main_module {
    display: inline-block;
}

/*
    keryi_barter主页面主要内容barter列表容器样式
*/
.keryi_barter_main_container > .keryi_barter_main_barterList {
    width: 625px;
}

/*
    keryi_barter主页面主要内容barter列表副级容器样式
*/
.keryi_barter_main_barterList > .keryi_barter_cardInfo {
    width: 100%;
    margin: 0 0 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

/*
    keryi_barter主页面主要内容barter列表头像容器样式
*/
.keryi_barter_cardInfo > .keryi_barter_head_portrait {
    width: 68px;
    height: 68px;
}

/*
    keryi_barter主页面主要内容barter列表主容器样式
*/
.keryi_barter_cardInfo > .keryi_barter_card_container {
    position: relative;
    width: calc(100% - 83px);
    left: 15px;
}

/*
    keryi_barter主页面主要内容边栏容器样式
*/
.keryi_barter_main_container > .keryi_barter_main_aside {
    width: calc(100% - 625px);
}

.keryi_barter_modalContainer > .keryi_barter_modal_view_details_container {
    background-color: rgb(244, 244, 244);
}

.keryi_barter_modalContainer .keryi_barter_modal_view_details {
    overflow: auto;
    transition: all .5s ease-in-out 0s;
}

.keryi_barter_modal_view_details_container .keryi_barter_modal_view_details {
    width: 100%;
    height: 100%;
}

.keryi_barter_modal_view_details_container .keryi_barter_modal_view_details:after {
    content: " ";
    display: table;
    clear: both;
}

.keryi_barter_modal_view_details > .keryi_barter_view_details_information {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.keryi_barter_view_details_information > .keryi_barter_view_details_comment,
.keryi_barter_view_details_information > .keryi_barter_view_details_matched_resource_list {
    position: absolute;
    display: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 9914;
    transition: all .2s ease-in-out 0s;
    background-color: rgb(244, 244, 244);
}

.keryi_barter_view_details_information > .keryi_barter_view_details_matched_resource_list {
    z-index: 9915;
}

.keryi_barter_view_details_comment .keryi_barter_view_details_comment_area {
    height: 100px;
    line-height: 1.3;
    font-size: 14px;
    padding: 4px 6px;
    border: 1px solid #9da6af;
    border-radius: 4px;
}

.keryi_barter_view_details_comment > .keryi_barter_view_details_comment_submit {
    text-align: right;
}

.keryi_barter_view_details_comment_submit .keryi_barter_view_details_comment_submit_button {
    margin: 8px 15px 0 0;
    padding: 8px 22px;
}

.keryi_barter_view_details_comment > .keryi_barter_view_details_comment_content {
    padding: 0 15px 0 20px;
    position: relative;
    height: calc(100% - 140px);
}

.keryi_barter_view_details_comment_content > .keryi_barter_view_details_comment_content_header {
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid rgba(68, 68, 68, .1);
}

.keryi_barter_view_details_comment_content > .keryi_barter_view_details_comment_content_header:before {
    content: attr(data-comment-total);
    float: left;
    font-size: 20px;
    color: #63A8F0;
    margin-right: 5px;
}

.keryi_barter_view_details_comment_content > .keryi_barter_view_details_comment_content_header:after {
    content: "评论";
    display: table-cell;
    width: 2000px;
}

.keryi_barter_view_details_comment_content > .keryi_barter_view_details_comment_clear {
    content: " ";
    display: table;
    clear: both;
}

.keryi_barter_view_details_comment_content > .keryi_barter_view_details_comment_pagination {
    position: absolute;
    top: 4px;
    right: 15px;
}

.keryi_barter_modal_view_details_container .keryi_barter_view_details_matched_resource_list_paginationContainer {
    position: absolute;
    left: 0;
    right: 0;
    text-align: right;
    margin: 13px 0 0 78px;
    padding: 4px 15px 4px 0;
    z-index: 10;
}

.keryi_barter_view_details_comment_pagination > .ant-pagination-total-text,
.keryi_barter_view_details_matched_resource_list_pagination > .ant-pagination-total-text {
    color: #a2a2a2;
}

.keryi_barter_view_details_comment_pagination > .ant-pagination-item-active,
.keryi_barter_view_details_matched_resource_list_pagination > .ant-pagination-item-active {
    background-color: #63A8F0;
    border-color: #63A8F0;
}

.keryi_barter_view_details_comment_pagination > .ant-pagination-options,
.keryi_barter_view_details_matched_resource_list_pagination > .ant-pagination-options {
    color: #a2a2a2;
}

.keryi_barter_view_details_comment_pagination .ant-pagination-options-quick-jumper input,
.keryi_barter_view_details_matched_resource_list_pagination .ant-pagination-options-quick-jumper input {
    text-align: center;
}

.keryi_barter_view_details_comment_pagination .ant-pagination-item:focus,
.keryi_barter_view_details_comment_pagination .ant-pagination-item:hover,
.keryi_barter_view_details_matched_resource_list_pagination > .ant-pagination-item:focus,
.keryi_barter_view_details_matched_resource_list_pagination > .ant-pagination-item:hover {
    border-color: #63A8F0;
}

.keryi_barter_view_details_comment_pagination .ant-pagination-item:focus a,
.keryi_barter_view_details_comment_pagination .ant-pagination-item:hover a,
.keryi_barter_view_details_matched_resource_list_pagination .ant-pagination-item:focus a,
.keryi_barter_view_details_matched_resource_list_pagination .ant-pagination-item:hover a {
    color: #63A8F0;
}

.keryi_barter_view_details_comment_pagination .ant-pagination-item-active a,
.keryi_barter_view_details_comment_pagination .ant-pagination-item-active:focus a,
.keryi_barter_view_details_comment_pagination .ant-pagination-item-active:hover a,
.keryi_barter_view_details_matched_resource_list_pagination .ant-pagination-item-active a,
.keryi_barter_view_details_matched_resource_list_pagination .ant-pagination-item-active:focus a,
.keryi_barter_view_details_matched_resource_list_pagination .ant-pagination-item-active:hover a {
    color: #fff;
}

.keryi_barter_view_details_comment_pagination .ant-pagination-prev:focus .ant-pagination-item-link,
.keryi_barter_view_details_comment_pagination .ant-pagination-next:focus .ant-pagination-item-link,
.keryi_barter_view_details_comment_pagination .ant-pagination-prev:hover .ant-pagination-item-link,
.keryi_barter_view_details_comment_pagination .ant-pagination-next:hover .ant-pagination-item-link,
.keryi_barter_view_details_matched_resource_list_pagination .ant-pagination-prev:focus .ant-pagination-item-link,
.keryi_barter_view_details_matched_resource_list_pagination .ant-pagination-next:focus .ant-pagination-item-link,
.keryi_barter_view_details_matched_resource_list_pagination .ant-pagination-prev:hover .ant-pagination-item-link,
.keryi_barter_view_details_matched_resource_list_pagination .ant-pagination-next:hover .ant-pagination-item-link {
    border-color: #63A8F0;
    color: #63A8F0;
}

.keryi_barter_view_details_comment_pagination .ant-pagination-disabled a,
.keryi_barter_view_details_comment_pagination .ant-pagination-disabled:hover a,
.keryi_barter_view_details_comment_pagination .ant-pagination-disabled:focus a,
.keryi_barter_view_details_comment_pagination .ant-pagination-disabled .ant-pagination-item-link,
.keryi_barter_view_details_comment_pagination .ant-pagination-disabled:hover .ant-pagination-item-link,
.keryi_barter_view_details_comment_pagination .ant-pagination-disabled:focus .ant-pagination-item-link,
.keryi_barter_view_details_matched_resource_list_pagination .ant-pagination-disabled a,
.keryi_barter_view_details_matched_resource_list_pagination .ant-pagination-disabled:hover a,
.keryi_barter_view_details_matched_resource_list_pagination .ant-pagination-disabled:focus a,
.keryi_barter_view_details_matched_resource_list_pagination .ant-pagination-disabled .ant-pagination-item-link,
.keryi_barter_view_details_matched_resource_list_pagination .ant-pagination-disabled:hover .ant-pagination-item-link,
.keryi_barter_view_details_matched_resource_list_pagination .ant-pagination-disabled:focus .ant-pagination-item-link {
    border-color: #d9d9d9;
    color: rgba(0, 0, 0, .25);
}

.keryi_barter_view_details_comment_content > .keryi_barter_view_details_comment_none,
.keryi_barter_view_details_comment_content > .keryi_barter_view_details_comment_list {
    height: calc(100% - 38px);
    overflow: auto;
}

.keryi_barter_view_details_comment_list > .keryi_barter_view_details_comment_list_itemSection {
    padding: 6px 8px 0 8px;
}

.keryi_barter_view_details_comment_list > .keryi_barter_view_details_comment_list_itemSection:after {
    content: " ";
    display: table;
    clear: both;
}

.keryi_barter_view_details_comment_list_itemSection > .keryi_barter_view_details_comment_list_itemAvatar {
    float: left;
    margin-right: 8px;
    width: 32px;
    height: 32px;
}

.keryi_barter_view_details_comment_list_itemSection > .keryi_barter_view_details_comment_list_itemContent {
    display: table-cell;
    width: 2000px;
}

.keryi_barter_view_details_comment_list_itemContent > .keryi_barter_view_details_comment_list_itemContent_title {
    font-size: 14px;
    font-weight: bolder;
    font-family: Gibson, Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
    margin-top: 2px;
    color: #63A8F0;
}

.keryi_barter_view_details_comment_list_itemContent > .keryi_barter_view_details_comment_list_itemContent_pragraph {
    font-size: 14px;
    line-height: 1.6;
    margin-top: 2px;
}

.keryi_barter_view_details_comment_list_itemContent > .keryi_barter_view_details_comment_list_itemContent_time {
    display: inline-block;
    margin-top: 8px;
    font-size: 12px;
    color: #999;
}

.keryi_barter_view_details_comment_list_itemSection > .keryi_barter_view_details_comment_list_itemSection_wire {
    border: none;
    border-top: 1px solid #e7e7e7;
    margin: 6px auto 0 auto;
}

.keryi_barter_view_details_comment_content > .keryi_barter_view_details_comment_none {
    position: relative;
}

.keryi_barter_view_details_comment_none > .keryi_barter_view_details_comment_none_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: rgb(244, 244, 244);
}

.keryi_barter_view_details_comment_none_container > i {
    font-size: 32px;
    color: #8f8f8f;
}

.keryi_barter_view_details_comment_none_container > .keryi_barter_view_details_comment_none_content {
    font-family: Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 14px;
    color: #8f8f8f;
    margin-top: 4px;
}

.keryi_barter_view_details_information > .keryi_barter_view_details_comment_appear,
.keryi_barter_view_details_information > .keryi_barter_view_details_matched_resource_list_appear {
    opacity: 1;
}

.keryi_barter_view_details_information > .keryi_barter_view_details_comment_block,
.keryi_barter_view_details_information > .keryi_barter_view_details_matched_resource_list_block {
    display: block;
}

.keryi_barter_view_details_matched_resource_list > .keryi_barter_modal_view_details_matched_resource_listItem {
    padding: 8px 15px;
    background-color: #fff;
    margin-top: 12px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .1);
}

.keryi_barter_view_details_matched_resource_list > .keryi_barter_modal_view_details_matched_resource_listItem:first-child {
    margin: 0;
}

.keryi_barter_modal_view_details_matched_resource_listItem > .keryi_barter_modal_view_details_matched_resource_listItem_header {
    *zoom: 1;
}

.keryi_barter_modal_view_details_matched_resource_listItem > .keryi_barter_modal_view_details_matched_resource_listItem_header:after {
    content: "";
    display: table;
    clear: both;
}

.keryi_barter_modal_view_details_matched_resource_listItem_header > .keryi_barter_modal_view_details_matched_resource_listItem_avatarArea {
    float: left;
    margin-right: 15px;
    width: 40px;
    height: 40px;
    line-height: 0;
}

.keryi_barter_modal_view_details_matched_resource_listItem > .keryi_barter_modal_view_details_matched_resource_listItem_nav {
    display: table-cell;
    width: 2000px;
    *display: inline-block;
    *width: auto;
}

.keryi_barter_modal_view_details_matched_resource_listItem_nav > .keryi_barter_modal_view_details_matched_resource_buttonArea {
    display: inline-block;
    position: absolute;
    right: 15px;
    margin: 6px 0 0 0;
}

.keryi_barter_modal_view_details_matched_resource_buttonArea .keryi_barter_modal_view_details_matched_resource_button {
    margin: 0;
    padding: 6px 10px;
    font-size: 12px;
}

.keryi_barter_modal_view_details_matched_resource_listItem_nav > h3.keryi_barter_modal_view_details_matched_resource_listItem_userName,
.keryi_barter_modal_view_details_matched_resource_listItem_nav > .keryi_barter_modal_view_details_matched_resource_listItem_uiList {
    display: inline-block;
    font-size: 14px;
    font-weight: bolder;
    line-height: 2.8571;
    color: #63A8F0;
}

.keryi_barter_modal_view_details_matched_resource_listItem_nav > .keryi_barter_modal_view_details_matched_resource_listItem_uiList {
    margin: 0 0 0 10px;
}

.keryi_barter_modal_view_details_matched_resource_listItem_uiList > li {
    display: inline-block;
    color: #8f8f8f;
    margin: 0 0 0 8px;
}

.keryi_barter_modal_view_details_matched_resource_listItem_uiList > li:first-child {
    margin: 0;
}

.keryi_barter_modal_view_details_matched_resource_listItem_uiList > li > i {
    font-size: 14px;
    font-weight: normal;
}

.keryi_barter_modal_view_details_matched_resource_listItem_uiList > li > i.keryiBarter-priceWorth {
    font-size: 13px;
}

.keryi_barter_modal_view_details_matched_resource_listItem_uiList > li > i:before {
    position: relative;
    margin-right: 6px;
}

.keryi_barter_modal_view_details_matched_resource_listItem_uiList > li > i.keryiBarter-exchange:before {
    top: 1px;
}

.keryi_barter_modal_view_details_matched_resource_listItem_uiList > li > i:after {
    content: attr(data-description);
    font-size: 12px;
}

.keryi_barter_modal_view_details_matched_resource_listItem > .keryi_barter_modal_view_details_matched_resource_listItem_content {
    font-size: 14px;
    line-height: 1.4286;
    margin-top: 10px;
}

.keryi_barter_modal_view_details_matched_resource_listItem_content > h4.keryi_barter_modal_view_details_matched_resource_listItem_content_title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.keryi_barter_modal_view_details_matched_resource_listItem_content > .keryi_barter_modal_view_details_matched_resource_listItem_content_paragraph {
    font-size: 12px;
    max-height: 36px;
    line-height: 1.5;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-line-clamp: 2;
    margin-top: 5px;
}

.keryi_barter_modal_view_details_matched_resource_listItem_content > .keryi_barter_modal_view_details_matched_resource_listItem_content_imagesArea {
    margin-top: 6px;
    height: 158px;
}

.keryi_barter_modal_view_details_container .keryi_barter_view_details_head,
.keryi_barter_modal_view_details_container .keryi_barter_view_details_figure_carousel,
.keryi_barter_modal_view_details_container .keryi_barter_view_details_introduce,
.keryi_barter_modal_view_details_container .keryi_barter_view_details_statistics,
.keryi_barter_modal_view_details_container .keryi_barter_view_details_tag,
.keryi_barter_modal_view_details_container .keryi_barter_view_details_targetTag {
    padding: 0 15px;
}

.keryi_barter_modal_view_details_container .keryi_barter_view_details_head {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.keryi_barter_modal_view_details_container i.keryiBarter-comment,
.keryi_barter_modal_view_details_container i.keryiBarter-moreInformation,
.keryi_barter_modal_view_details_container i.keryiBarter-back {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 16px;
    color: #63A8F0;
    cursor: pointer;
}

.keryi_barter_modal_view_details_container i.keryiBarter-moreInformation {
    font-size: 18px;
}

.keryi_barter_modal_view_details_container i.keryiBarter-back {
    font-size: 14px;
    top: 12px;
}

.keryi_barter_modal_view_details_container i.keryiBarter-comment:after,
.keryi_barter_modal_view_details_container i.keryiBarter-moreInformation:after,
.keryi_barter_modal_view_details_container i.keryiBarter-back:after {
    content: '评论';
    font-size: 14px;
    position: relative;
    bottom: 1px;
    left: 4px;
}

.keryi_barter_modal_view_details_container i.keryiBarter-moreInformation:after {
    content: '资源详情';
    bottom: 2px;
}

.keryi_barter_modal_view_details_container i.keryiBarter-back:after {
    content: '返回';
    bottom: 0;
    left: 0;
}

.keryi_barter_view_details_head > .keryi_barter_view_details_head_portrait {
    position: relative;
    width: 64px;
    height: 64px;
}

.keryi_barter_view_details_head > .keryi_barter_view_details_description {
    margin-top: 8px;
}

.keryi_barter_view_details_description > .keryi_barter_view_details_title {
    text-align: center;
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    font-family: Gibson, Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
}

.keryi_barter_view_details_description > .keryi_barter_view_details_userName {
    width: 100%;
    display: inline-block;
    margin-top: 5px;
    font-size: 16px;
    font-style: normal;
    font-family: Gibson, Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
    text-align: center;
}

.keryi_barter_view_details_userName > .keryi_barter_view_details_name {
    font-size: 14px;
    color: #63A8F0;
    font-weight: normal;
}

.keryi_barter_modal_view_details_container .keryi_barter_view_details_figure_carousel {
    margin: 16px 10px 10px 10px;
    border-radius: 4px;
    background-color: #fff;
}

.keryi_barter_modal_view_details_container .keryi_barter_view_details_introduce {
    margin: 0 0 10px 0;
}

.keryi_barter_view_details_introduce > .keryi_barter_view_details_introduce_content {
    color: #444;
    text-indent: 8px;
    line-height: 30px;
    font-size: 14px;
    font-family: Gibson, Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
}

.keryi_barter_view_details_statistics > .keryi_barter_view_details_statistics_uiList {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.keryi_barter_view_details_statistics_uiList > li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin: 0 20px 0 0;
    color: #8f8f8f;
}

.keryi_barter_view_details_statistics_uiList > li > i {
    position: relative;
    font-size: 20px;
}

.keryi_barter_view_details_statistics_uiList > li > i.keryiBarter-priceWorth {
    font-size: 18px;
}

.keryi_barter_view_details_statistics_uiList > li > i.keryiBarter-exchange {
    top: 1px;
}

.keryi_barter_view_details_statistics_uiList > li > .keryi_barter_view_details_statistics_description {
    display: inline-block;
    font-size: 12px;
    font-style: normal;
    margin: 0 0 0 6px;
}

.keryi_barter_view_details_tag > .keryi_barter_view_details_tag_title,
.keryi_barter_view_details_targetTag > .keryi_barter_view_details_targetTag_title {
    margin-bottom: 12px;
    font-size: 16px;
    font-family: Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #8f8f8f;
}

.keryi_barter_view_details_introduce > .keryi_barter_view_details_wire,
.keryi_barter_view_details_tag > .keryi_barter_view_details_wire {
    width: 36%;
    margin-top: 18px;
    border: none;
    border-top: 1px solid #e7e7e7;
}

.keryi_barter_modal_view_details_container .keryi_barter_view_details_targetTag {
    margin: 0 0 16px 0;
}



