@charset "utf-8";
/*
    keryi_barter个人信息页面主要内容副级容器样式
*/
.keryi_barter_main > .keryi_barter_personal_main_container {
    width: 60%;
    min-width: 645px;
    margin: 0 auto;
}

/*
    keryi_barter主页面左右主要内容模块样式
 */
.keryi_barter_personal_main_container > .keryi_barter_personal_main_module {
    width: 100%;
    display: inline-block;
}

.keryi_barter_personal_main_module > .keryi_barter_personal_head {
    width: 100%;
    height: 220px;
    position: relative;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

.keryi_barter_personal_main_module > .keryi_barter_personal_save_some {
    position: relative;
    background-color: #fff;
    text-align: center;
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.keryi_barter_personal_save_some.keryi_barter_personal_save_some_animation {
    opacity: 1;
}

.keryi_barter_personal_save_some .keryi_barter_personal_save_some_button {
    position: relative;
    top: 12px;
}

.keryi_barter_personal_save_some_button.keryi_barter_personal_save_some_button_save {
    padding: 6px 24px;
}

.keryi_barter_personal_head > .keryi_barter_personal_head_shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, .3));
    z-index: 2000;
}

.keryi_barter_personal_head > .keryi_barter_personal_head_portrait {
    position: relative;
    width: 106px;
    height: 106px;
    top: 20px;
    z-index: 2400;
}

.keryi_barter_personal_head_portrait > .keryi_barter_personal_edit_appearance {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2401;
    opacity: 0;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .54);
    transition: all .3s ease-in-out 0s;
}

.keryi_barter_personal_head_portrait > .keryi_barter_personal_edit_appearance_animation {
    opacity: 1;
}

.keryi_barter_personal_edit_appearance .keryi_barter_personal_upload {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2402;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
}

.keryi_barter_personal_upload .keryiBarter-updateAvatar {
    color: #fff;
    font-size: 26px;
}

.keryi_barter_personal_head > .keryi_barter_personal_head_username {
    position: absolute;
    top: 4px;
    left: 6px;
    color: #fff;
    font-family: Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    z-index: 2200;
}

.keryi_barter_personal_head > .keryi_barter_personal_head_update_surface {
    position: absolute;
    top: 4px;
    right: 6px;
    z-index: 2200;
}

.keryi_barter_personal_head_update_surface .keryi_barter_personal_head_update_surface_button {
    margin-top: 0;
    padding: 6px 10px;
}

.keryi_barter_personal_main > .keryi_barter_personal_main_username {
    height: 75px;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.keryi_barter_personal_main_username > .keryi_barter_personal_main_username_title {
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    font-family: Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
    top: 32px;
    color: rgba(0, 0, 0, .85);
}

.keryi_barter_personal_main > .keryi_barter_personal_main_information_container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    z-index: 2410;
}

.keryi_barter_personal_main_information_container > .keryi_barter_personal_main_information {
    display: inline-block;
    margin-top: 15px;
}

.keryi_barter_personal_main_information_container > .keryi_barter_personal_main_barterList {
    width: 660px;
}

.keryi_barter_personal_main_barterList > .keryi_barter_personal_cardInfo {
    margin: 0 0 20px 0;
}

.keryi_barter_personal_main_information_container > .keryi_barter_personal_main_personalInformation {
    position: relative;
    width: calc(100% - 640px);
    margin-left: 10px;
    background-color: #fff;
    border-radius: 4px;
    transition: all .1s linear 0s;
}

.keryi_barter_personal_main_personalInformation > .keryi_barter_personal_main_information_fixedContent {
    width: 100%;
}

.keryi_barter_personal_main_information_fixedContent > .keryi_barter_personal_main_information_title {
    padding: 6px 10px;
    font-family: Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    background-color: rgb(250, 250, 250);
    border-bottom: 1px solid #e7e7e7;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.keryi_barter_personal_main_information_content > .keryi_barter_personal_main_information_personalMain {
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.keryi_barter_personal_main_information_personalMain > .keryi_barter_personal_main_information_personalMain_title {
    width: 80px;
    font-family: Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
}

.keryi_barter_personal_main_information_personalMain .keryi_barter_personal_main_information_personalMain_atom {
    width: 200px;
    color: #444;
    font-family: Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
}

.keryi_barter_personal_main_information_fixedContent > .keryi_barter_personal_main_information_update_container {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #000;
    cursor: pointer;
    opacity: 0;
    transition: all .3s ease-in-out 0s;
    z-index: 2420;
}

.keryi_barter_personal_main_information_fixedContent > .keryi_barter_personal_main_information_updateAnimation {
    opacity: 0.4;
}

.keryi_barter_personal_main_information_update_container > i {
    font-size: 20px;
}

.keryi_barter_personal_main_information_fixedContent > .keryi_barter_personal_main_information_footer {
    opacity: 0;
    border: none;
    transition: all .3s ease-in-out 0s;
}

.keryi_barter_personal_main_information_footer .keryi_barter_personal_main_information_footer_button {
    padding: 5px 12px;
    margin: 8px 0 8px 6px;
    font-size: 14px;
}

.keryi_barter_personal_main_information_footer .keryi_barter_personal_main_information_footer_cancel_button {
    color: #9da6af;
}

.keryi_barter_personal_main_information_fixedContent > .keryi_barter_personal_main_information_footerAnimation {
    border-top: 1px solid #e7e7e7;
    opacity: 1;
}

.keryi_barter_modalContainer > .keryi_barter_personal_modal_view_details_container {
    max-height: 725px;
    overflow: auto;
}

.keryi_barter_modalContainer > .keryi_barter_personal_modal_view_details_container,
.keryi_barter_modalContainer > .keryi_barter_personal_modal_view_details_asideMain {
    background-color: rgb(244, 244, 244);
}

.keryi_barter_personal_modal_view_details_container .keryi_barter_personal_view_details_head,
.keryi_barter_personal_modal_view_details_container .keryi_barter_personal_view_details_figure_carousel,
.keryi_barter_personal_modal_view_details_container .keryi_barter_personal_view_details_introduce,
.keryi_barter_personal_modal_view_details_container .keryi_barter_personal_view_details_statistics,
.keryi_barter_personal_modal_view_details_container .keryi_barter_personal_view_details_tag,
.keryi_barter_personal_modal_view_details_container .keryi_barter_personal_view_details_targetTag {
    padding: 0 15px;
}

.keryi_barter_personal_modal_view_details_container .keryi_barter_personal_view_details_tag,
.keryi_barter_personal_modal_view_details_container .keryi_barter_personal_view_details_targetTag,
.keryi_barter_personal_modal_view_details_container .keryi_barter_personal_view_details_item_carousel {
    margin-top: 15px;
}

.keryi_barter_personal_modal_view_details_container .keryi_barter_personal_view_details_head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.keryi_barter_personal_view_details_head > .keryi_barter_personal_view_details_head_portrait {
    position: relative;
    width: 64px;
    height: 64px;
}

.keryi_barter_personal_view_details_head > .keryi_barter_personal_view_details_description {
    margin-top: 8px;
}

.keryi_barter_personal_view_details_description > .keryi_barter_personal_view_details_title {
    text-align: center;
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    font-family: Gibson, Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
}

.keryi_barter_personal_view_details_description > .keryi_barter_personal_view_details_userName {
    width: 100%;
    display: inline-block;
    margin-top: 5px;
    font-size: 16px;
    font-style: normal;
    font-family: Gibson, Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
    text-align: center;
}

.keryi_barter_personal_view_details_userName > .keryi_barter_personal_view_details_name {
    font-size: 14px;
    color: #63A8F0;
    font-weight: normal;
}

.keryi_barter_personal_modal_view_details_container .keryi_barter_personal_view_details_figure_carousel {
    margin: 16px 10px 10px 10px;
    border-radius: 4px;
    background-color: #fff;
}

.keryi_barter_personal_view_details_introduce > .keryi_barter_personal_view_details_introduce_content {
    color: #444;
    text-indent: 8px;
    line-height: 30px;
    font-size: 14px;
    font-family: Gibson, Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
}

.keryi_barter_personal_view_details_statistics > .keryi_barter_personal_view_details_statistics_ulList {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.keryi_barter_personal_view_details_statistics_ulList > li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin: 0 20px 0 0;
    color: #8f8f8f;
}

.keryi_barter_personal_view_details_statistics_ulList > li:last-child {
    margin: 0;
}

.keryi_barter_personal_view_details_statistics_ulList > li > i {
    position: relative;
    font-size: 20px;
}

.keryi_barter_personal_view_details_statistics_ulList > li > i.keryiBarter-priceWorth {
    font-size: 18px;
    bottom: 1px;
}

.keryi_barter_personal_view_details_statistics_ulList > li > i.keryiBarter-exchange {
    top: 1px;
}

.keryi_barter_personal_view_details_statistics_ulList > li > .keryi_barter_personal_view_details_statistics_description {
    display: inline-block;
    font-size: 12px;
    font-style: normal;
    margin: 0 0 0 6px;
}

.keryi_barter_personal_view_details_tag > .keryi_barter_personal_view_details_tag_title,
.keryi_barter_personal_view_details_targetTag > .keryi_barter_personal_view_details_targetTag_title,
.keryi_barter_personal_view_details_item_carousel > .keryi_barter_personal_view_details_item_carousel_title {
    margin-bottom: 12px;
    font-size: 16px;
    font-family: Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #8f8f8f;
}

.keryi_barter_personal_view_details_item_carousel > .keryi_barter_personal_view_details_item_carousel_title,
.keryi_barter_personal_view_details_item_carousel > .keryi_barter_personal_view_details_item_carousel_menu,
.keryi_barter_personal_view_details_item_carousel > .keryi_barter_personal_view_details_item_carousel_content {
    padding: 0 15px;
}

.keryi_barter_personal_view_details_item_carousel > .keryi_barter_personal_view_details_item_carousel_title {
    margin: 0;
}

.keryi_barter_personal_view_details_item_carousel > .keryi_barter_personal_view_details_item_carousel_menu {
    padding-top: 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #e9e9e9;
}

.keryi_barter_personal_view_details_item_carousel_menu > li {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 0 6px 8px 5px;
    margin: 0 4px 0 0;
    color: #63A8F0;
    cursor: pointer;
    transition: all .5s linear 0s;
}

.keryi_barter_personal_view_details_item_carousel_menu > li > hr.keryi_barter_personal_view_details_item_carousel_wired {
    position: absolute;
    width: 100%;
    border: none;
    border-top: 2px solid transparent;
    left: 0;
    bottom: -2px;
    transition: all .5s linear 0s;
}

.keryi_barter_personal_view_details_item_carousel_menu > li.keryi_barter_personal_view_details_item_carousel_checked > hr.keryi_barter_personal_view_details_item_carousel_wired {
    border-top: 2px solid #63A8F0;
}

.keryi_barter_personal_view_details_item_carousel_menu > li.keryi_barter_personal_view_details_item_carousel_unchecked {
    color: rgba(0, 0, 0, .35);
}

.keryi_barter_personal_view_details_item_carousel_menu > li:last-child {
    margin: 0;
}

.keryi_barter_personal_view_details_item_carousel_menu > li > i {
    position: relative;
    display: inline-block;
    font-size: 22px;
    color: #63A8F0;
    margin-right: 2px;
}

.keryi_barter_personal_view_details_item_carousel_menu > li > i.keryiBarter-changing {
    top: 1px;
}

.keryi_barter_personal_view_details_item_carousel_menu > li > i.keryiBarter-refuse {
    color: #CC0E00;
    left: 2px;
}

.keryi_barter_personal_view_details_item_carousel_menu > li > i.keryiBarter-complete {
    color: rgb(123, 187, 94);
}

.keryi_barter_personal_view_details_item_carousel_menu > li.keryi_barter_personal_view_details_item_carousel_unchecked > i {
    color: rgba(0, 0, 0, .35);
}

.keryi_barter_personal_view_details_item_carousel > .keryi_barter_personal_view_details_item_carousel_content {
    border-radius: 4px;
    background-color: #fff;
}

.keryi_barter_personal_view_details_item_carousel_content > .keryi_barter_personal_view_details_itemCarousel {
    height: 188px;
}

.keryi_barter_personal_view_details_introduce > .keryi_barter_personal_view_details_wire,
.keryi_barter_personal_view_details_tag > .keryi_barter_personal_view_details_wire,
.keryi_barter_personal_view_details_targetTag > .keryi_barter_personal_view_details_wire {
    width: 36%;
    margin-top: 18px;
    border: none;
    border-top: 1px solid #e7e7e7;
}