@charset "utf-8";
.keryi_barter_modal,
.keryi_barter_modal > .keryi_barter_modal_shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 8000;
}

.keryi_barter_modal {
    opacity: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out 0s;
    background-color: rgba(41, 70, 101, .90);
}

.keryi_barter_modal > .keryi_barter_modal_shadow {
    z-index: 9000;
}

.keryi_barter_modal.keryi_barter_modalDisAppear {
    opacity: 0;
    transition: all 1s ease-in-out 0s;
}

.keryi_barter_modal.keryi_barter_modalNone {
    display: none;
}

.keryi_barter_modal > .keryi_barter_modalContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.keryi_barter_modalContainer > .keryi_barter_modal_avatarContainer {
    position: relative;
    width: 64px;
    height: 64px;
}

.keryi_barter_modal_avatarContainer > .keryi_barter_modal_avatarShadow {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #8f8f8f;
    z-index: 9901;
}

.keryi_barter_modal_avatarContainer > .keryi_barter_modal_avatar {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 9910;
}

.keryi_barter_modalContainer > .keryi_barter_modal_main,
.keryi_barter_modalContainer > .keryi_barter_modal_aside {
    position: relative;
    height: auto;
    margin-left: 15px;
    min-height: 200px;
    border-radius: 4px;
    background-color: #fff;
    z-index: 9900;
}

.keryi_barter_modalContainer > .keryi_barter_modal_main,
.keryi_barter_modalContainer > .keryi_barter_modal_aside {
    min-height: 60px;
}

.keryi_barter_modalContainer > .keryi_barter_modal_aside {
    max-height: 600px;
    overflow: auto;
    margin-left: 10px;
}

.keryi_barter_modal_aside > .keryi_barter_modal_aside_head {
    padding: 8px 10px;
    font-family: Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    background-color: rgb(250, 250, 250);
    color: #8f8f8f;
    border-bottom: 1px solid #e7e7e7;
}

.keryi_barter_modal_asideList > .keryi_barter_modal_asideItem {
    padding: 8px 0;
    margin: 0 12px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #e7e7e7;
    cursor: pointer;
}

.keryi_barter_modal_asideItem > .keryi_barter_modal_asideAvatar {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.keryi_barter_modal_asideItem > .keryi_barter_modal_asideSourceMain {
    width: calc(100% - 55px);
}

.keryi_barter_modal_asideSourceMain > .keryi_barter_modal_asideIntroduce,
.keryi_barter_modal_asideSourceMain > .keryi_barter_modal_asideStatistics {
    margin-top: 2px;
}

.keryi_barter_modal_asideSourceMain > .keryi_barter_modal_asideStatistics {
    margin-top: 4px;
}

.keryi_barter_modal_asideSourceMain > .keryi_barter_modal_asideTitle > h3,
.keryi_barter_modal_asideSourceMain > .keryi_barter_modal_asideIntroduce > p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
}

.keryi_barter_modal_asideSourceMain > .keryi_barter_modal_asideTitle > h3 {
    font-size: 18px;
    font-weight: normal;
}

.keryi_barter_modal_asideSourceMain > .keryi_barter_modal_asideIntroduce > p {
    font-size: 14px;
}

.keryi_barter_modal_asideStatistics > .keryi_barter_modal_asideStatistics_ulList {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.keryi_barter_modal_asideStatistics_ulList > li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 0;
    color: #8f8f8f;
}

.keryi_barter_modal_asideStatistics_ulList > li:last-child {
    margin: 0;
}

.keryi_barter_modal_asideStatistics_ulList > li > i {
    position: relative;
    font-size: 14px;
}

.keryi_barter_modal_asideStatistics_ulList > li > i.keryiBarter-priceWorth {
    font-size: 12px;
}

.keryi_barter_modal_asideStatistics_ulList .keryi_barter_modal_asideStatistics_description {
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    margin: 0 0 0 6px;
}

.keryi_barter_modal_article > .keryi_barter_modal_head {
    position: relative;
    width: 100%;
    padding: 10px 15px 10px 20px;
    box-sizing: border-box;
    color: #8f8f8f;
}

.keryi_barter_modal_head:after {
    content: " ";
    display: table;
    clear: both;
}

.keryi_barter_modal_head > .keryi_barter_modal_head_title,
.keryi_barter_modal_head > .keryi_barter_modal_head_backDescription {
    float: left;
    font-family: "Microsoft YaHei UI";
    font-size: 13px;
    font-weight: bolder;
    color: #444;
}

.keryi_barter_modal_head > .keryi_barter_modal_head_backDescription {
    opacity: 1;
    font-size: 14px;
    font-weight: normal;
    color: #8f8f8f;
    cursor: pointer;
    margin-top: 3px;
}

.keryi_barter_modal_head > .keryi_barter_modal_head_backDescriptionDisAppear {
    opacity: 0;
    transition: all .5s linear 0s;
}

.keryi_barter_modal_head_backDescription > i {
    font-size: 13px;
}

.keryi_barter_modal_head > .keryiBarter-close {
    float: right;
    font-size: 18px;
    cursor: pointer;
}

.keryi_barter_modal_article > .keryi_barter_modal_foot {
    border-top: 1px solid rgba(68, 68, 68, .1);
    padding: 15px 20px;
}

.keryi_barter_modal_article > .keryi_barter_modal_foot:after {
    display: block;
    clear: both;
    content: '.';
    visibility: hidden;
    height: 0;
}

.keryi_barter_modal_foot > .keryi_barter_modal_close,
.keryi_barter_modal_foot > .keryi_barter_modal_publish {
    display: inline-block;
    float: left;
}

.keryi_barter_modal_foot > .keryi_barter_modal_publish {
    float: right;
}

.keryi_barter_modal_close .keryi_barter_button_close,
.keryi_barter_modal_publish .keryi_barter_button_publish {
    margin: 0;
    font-size: 13px;
    font-weight: 700;
}

.keryi_barter_modal_close .keryi_barter_button_close,
.keryi_barter_modal_close .keryi_barter_button_close:hover {
    background-color: #9da6af;
    color: #fff;
    border: 1px solid #9da6af;
}


